<!-- Table of Contents Component -->
<div class="table-of-contents" id="table-of-contents">
  <div class="toc-header">
    <h3>Table of Contents</h3>
    <button class="toc-toggle" aria-label="Toggle table of contents">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M3 5h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 4h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 4h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2z"/>
      </svg>
    </button>
  </div>
  <nav class="toc-nav" id="toc-nav">
    <ul class="toc-list" id="toc-list">
      <!-- TOC items will be dynamically generated -->
    </ul>
  </nav>
</div>